<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/layout.css" />
</head>
<body>
  <nav class="navbar">
    <a href="http://localhost:5173/">Play</a>
    <a href="http://localhost:5080/api/game/highscores">Highscores</a>
    <a href="http://localhost:5173/rules">Gamerules</a>
    <a href="http://localhost:5173/about">About</a>
    <a href="http://localhost:5173/settings">Settings</a>
  </nav>
  <main class="page-content">
    <%- body %>
  </main>
</body>
</html>