.rules-wrapper {
  max-width: 600px;
  margin: 1rem auto;
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

.rules-container h1 {
  text-align: center;
}

.rules-container p {
  font-size: 1.5rem;
  font-weight: bold;
}

.rules-container ul li {
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.rules-container .example {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.rules-container .example span {
  font-size: 1rem;
  display: block;
  margin-bottom: 1rem;
}

.rules-container .example .green {
  background-color: #27ae60;
  color: white;
}

.rules-container .example .orange {
  background-color: #f39c12;
  color: white;
}

.rules-container .example .gray {
  background-color: #7f8c8d;
  color: white;
}

.rules-container .tile {
  display: inline-flex;
  width: 40px;
  height: 40px;
  margin: 0.2rem;
  border-radius: 6px;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.back-button {
  display: block;
  margin: 1rem auto;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background: linear-gradient(to right, #00d26a, #008c3f);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  text-decoration: none;
}

.back-button:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #00b45a, #007a36);
}

.back-button:active {
  transform: scale(0.98);
}

@media (max-width: 600px) {
  .rules-wrapper {
    padding: 1rem;
  }

  .rules-container ul {
    padding-left: 1rem;
  }

  .rules-container {
    margin: 0;
  }
}